.create-post__header {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
}

.create-post__form {
  display: flex;
  flex-direction: column;
}

.create-post__title, .create-post__text {
  background: transparent;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  resize: none;
  overflow: auto;
}

.create-post__title {
  font-weight: 600;
  font-size: 22px;
}

.create-post__btn {
  font-size: 18px;
}

.create-post__error {
  margin-bottom: 10px;
}